.scrolled {background-color: rgba(0,0,0,.5);}

.my-nav {
    background-color: black;
}

body {
  margin: 0;
  padding: 0;
  
}

.navbar a {
  font-size: 17px !important;
  font-family: 'Lexend Exa', sans-serif;
  }


@media screen and (max-width:400px) {

.navbar a {
	font-size: 14px;
  
  }
}

@media screen and (min-width:400px) {

.navbar a {
	font-size: 14px;
  
  }
}

@media screen and (max-width:300px) {

.navbar a {
	font-size: 13px;
  
  }
}

@media screen and (min-width:300px) {

.navbar a {
	font-size: 13px;
  
  }
}
